@font-face {
	font-family: 'MyFont';
	src: url('../fonts/82a2832bc3b3dcb58998c4548b3850fb.eot');
	src: url('../fonts/82a2832bc3b3dcb58998c4548b3850fb.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/82a2832bc3b3dcb58998c4548b3850fb.woff2') format('woff2'),
		 url('../fonts/82a2832bc3b3dcb58998c4548b3850fb.woff') format('woff'),
		 url('../fonts/82a2832bc3b3dcb58998c4548b3850fb.ttf') format('truetype'),
		 url('../fonts/82a2832bc3b3dcb58998c4548b3850fb.svg#MyFont') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Background image and rotation */
body {
    overflow: hidden;
    position: relative;
}


body::before {
    content: "";
    position: absolute;
    bottom: 5%;
    left: 5%;
    width: 150%;
    height: 430%;
    background-image: url('../images/odd.jpg'); 
    background-repeat: no-repeat;
    background-size: cover;
    transform: rotate(50deg) translate(-50%, -50%);
    transform-origin: center center;   
}

/* Divider style */
.hdrdivider {
    position: absolute;
    top: 82%;
    width: 680px;
    height: 65px;
    left: 94%;
    transform: translate(-50%, 0) rotate(90deg);
    border-bottom: #303030 solid 4px;
    border-top: #303030 solid 4px;
    box-sizing: border-box;
}

/* Header style */
h1 {
    position: absolute;
	top: 90%;
    left: 94%;
    color: rgb(0, 0, 0);
    font-size: 25px;
    text-align: center;
    font-weight: bold;
	transform: translate(-50%, -50%) rotate(90deg);
    width: 100%;
    box-sizing: border-box;
}

/* Doctor profile styles */
.drprofileBg {
    position: relative;
	top: -480px; /* Example adjustment */
    width: 725px;
    height: 200px;
    margin-left: 250px;
    background: linear-gradient(135deg, rgba(255,255,255,0.05) 0%,rgba(0,0,0,0.05) 100%);
    border-radius: 10px;
    border-bottom: #303030 solid 2px;
    margin-bottom: 25px; /* Add margin-bottom to space out doctor containers */

}

.doctor-name {
    position: relative;
    right: 25%;
    margin-bottom: 85px;
    width: 680px;
    height: 40px;
    overflow: hidden;
    border-radius: 20px 10px 10px 10px;
    background-color: #022633;
    color: #FEFEFE;
    font-size: 25px;
    text-align: left;
/*  padding: 4px 0px 10px; */
     padding-left: 135px;
}


.doctors-image {
    position: relative;
    margin-top: 10%;
    margin-left: -25%;
    height: 195px;
    width: 195px;
    margin-bottom: 50px;
    border-radius: 50%; /* Changed to 50% for circular image */
    object-fit: cover;
    z-index: 999;
}

/* Doctor information styles */

.doctor-qualification, .doctor-designation, .doctor-subdept {
    position: relative;
    font-family: 'Andes Rounded W01 Black';
    left: -5%; 
    text-align: left; /* Align text to the right */
    overflow: hidden;
    padding-right: 0px; /* Adjust padding as needed */
    white-space: normal; 
    word-wrap: break-word; /* Break long words to fit the container */
    max-width: 610px; /* Adjusted maximum width */
	margin-bottom: 5px;  
}



.doctor-qualification {
    top: -80px; /* Adjusted for proper positioning */
    font-size: 1.3em; /* Adjusted font size */
    font-weight: 600;
    color: black;

    max-width: 500px; 
    line-height: 1.2; 
    padding: 0px; /* Adjust padding as needed */
    margin: 0.9 0 30px 0; /* Adjust margin as needed */
    word-wrap: break-word;
    word-break: break-word;
    overflow-wrap: break-word;
}


.doctor-designation {
    top: -78px; /* Adjusted for proper positioning */
    font-size: 1.5em;
    font-weight: 700;
    color: black;

	max-width: 500px; 
    line-height: 1.2; 
    padding: 0px; /* Adjust padding as needed */
    margin: 0.9 0 30px 0; /* Adjust margin as needed */
    word-wrap: break-word;
    word-break: break-word;
    overflow-wrap: break-word;

}

.doctor-subdept {
    top: -68px; /* Adjusted for proper positioning */
    font-size: 2em;
    font-weight: 700;
    color: #000000;
    line-height: 1;
}
